<div class="flex items-center mb-3">
  <a routerLink="/proveedores">
    <img
      src="assets/img/licoreriaCocibolcaLogo.jpg"
      alt="Volcan Icon"
      width="150"
      class="mr-2 rounded-md"
    />
  </a>
  <div class="ml-4">
    <h1 class="my-auto font-bold">
      Historial de inventario: *PONER NOMBRE DE PRODUCTO*
    </h1>
  </div>

  <span class="flex-1"></span>

  <button mat-raised-button class="bg-green-500" [routerLink]="['/home']">
    <i class="fa-solid fa-house"></i> Home
  </button>
</div>
<hr class="my-2" />

<div class="flex justify-between items-center">
  <mat-form-field
    class="animate__animated animate__fadeIn"
    animate__animated
    animate__fadeIn
    *ngIf="!isLoading && productHistory.length"
  >
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. ium"
      #input
    />
  </mat-form-field>

  <button
    *ngIf="productHistory.length"
    (click)="deleteRecords()"
    mat-raised-button
    color="warn"
  >
    Borrar el Historial
  </button>
</div>
<table
  *ngIf="!isLoading && productHistory.length"
  mat-table
  matSort
  (matSortChange)="announceSortChange($event)"
  [dataSource]="dataSource"
  class="mat-elevation-z8 shadow-lg shadow-slate-400"
>
  <!-- Product_ID Column -->
  <ng-container matColumnDef="product_id">
    <th
      class="text-neutral-50"
      mat-header-cell
      mat-sort-header
      sortActionDescription="Sort by product_id"
      *matHeaderCellDef
    >
      Product_ID
    </th>
    <td mat-cell *matCellDef="let producto">{{ producto.product_id }}</td>
  </ng-container>

  <!-- Nombre del Producto Column -->
  <ng-container matColumnDef="nombreProducto">
    <th
      class="text-neutral-50"
      mat-sort-header
      sortActionDescription="Sort by name of product"
      mat-header-cell
      *matHeaderCellDef
    >
      Nombre Producto
    </th>
    <td mat-cell *matCellDef="let producto">{{ producto.nombreProducto }}</td>
  </ng-container>

  <!-- Cantidad a mano Column -->
  <ng-container matColumnDef="cantidadAMano">
    <th
      class="text-neutral-50"
      mat-sort-header
      sortActionDescription="Sort by amount"
      mat-header-cell
      *matHeaderCellDef
    >
      Cantidad a mano
    </th>
    <td mat-cell *matCellDef="let producto">{{ producto.cantidadAMano }}</td>
  </ng-container>

  <!-- Cantidad contado Column -->
  <ng-container matColumnDef="cantidadContada">
    <th
      class="text-neutral-50"
      mat-sort-header
      sortActionDescription="Sort by amount counted"
      mat-header-cell
      *matHeaderCellDef
    >
      Cantidad contada
    </th>
    <td mat-cell *matCellDef="let producto">{{ producto.cantidadContada }}</td>
  </ng-container>

  <!-- Fecha de inventario column -->
  <ng-container matColumnDef="fechaDeInventario">
    <th
      class="text-neutral-50"
      mat-sort-header
      sortActionDescription="Sort by inventory date"
      mat-header-cell
      *matHeaderCellDef
    >
      Fecha de Inventario
    </th>
    <td mat-cell *matCellDef="let producto">
      {{ producto.fechaDeInventario | date : "MMMM - dd - y" : " " : "es" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="nombreSupplier">
    <th
      class="text-neutral-50"
      mat-sort-header
      sortActionDescription="Sort by supplier"
      mat-header-cell
      *matHeaderCellDef
    >
      Proveedor
    </th>
    <td mat-cell *matCellDef="let producto">{{ producto.nombreSupplier }}</td>
  </ng-container>

  <tr
    class="bg-neutral-900"
    mat-header-row
    *matHeaderRowDef="displayedColumns"
  ></tr>
  <tr
    class="animate__animated animate__fadeIn"
    mat-row
    *matRowDef="let row; columns: displayedColumns"
  ></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      No data matching the filter "{{ input }}"
    </td>
  </tr>
</table>
<mat-paginator
  *ngIf="!isLoading && productHistory.length > 0"
  class="shadow-lg shadow-slate-400"
  [pageSizeOptions]="[5, 10, 20]"
  [length]="productHistory.length"
  aria-label="Select page of periodic elements"
>
</mat-paginator>

<!-- Alertas de cuando está cargando la data o con ausencia de data -->
<mat-card
  *ngIf="isLoading"
  class="mt-4 bg-blue-200 text-center animate__animated animate__fadeIn"
>
  <mat-card-title>Cargando</mat-card-title>
  <mat-card-content>
    <i class="fa-solid fa-spinner fa-spin fa-6x my-2"></i>

    <p>Espere por favor</p>
  </mat-card-content>
</mat-card>

<mat-card
  *ngIf="!isLoading && productHistory.length === 0"
  class="mt-4 bg-yellow-200 text-center animate__animated animate__fadeIn"
>
  <mat-card-title>No hay registros</mat-card-title>
  <mat-card-content>
    <i class="fa-solid fa-exclamation fa-6x my-2"></i>
  </mat-card-content>
</mat-card>

<div class="h-24"></div>
