<div class="flex">
  <a routerLink="/proveedores">
    <img
      src="assets/img/licoreriaCocibolcaLogo.jpg"
      alt="Volcan Icon"
      width="150"
      class="mr-2 rounded-md"
    />
  </a>
  <h1 *ngIf="!esEdicion" class="my-auto">Nuevo Proveedor</h1>

  <h1 *ngIf="esEdicion" class="my-auto font-bold">
    Proveedor: <span class="font-normal">{{ title }}</span>
  </h1>
</div>

<hr class="mt-2" />

<div class="text-right">
  <button
    (click)="onRegresar()"
    class="mt-4"
    mat-raised-button
    color="warn"
    type="button"
  >
    <i class="fa-sharp fa-solid fa-arrow-left-long"></i> Regresar
  </button>
</div>

<form
  (ngSubmit)="guardar()"
  [formGroup]="forma"
  autocomplete="off"
  class="animate__animated animate__fadeIn"
  enctype="multipart/form-data"
>
  <div class="form mt-4 w-[600px]">
    <!-- Input del ID -->
    <mat-form-field *ngIf="esEdicion" class="w-full">
      <input
        type="text"
        matInput
        placeholder="ID"
        formControlName="databaseId"
        [(ngModel)]="proveedor.id"
        readonly
        [disabled]="true"
      />
      <mat-hint>Esto es un campo autogenerado por la DB</mat-hint>
    </mat-form-field>

    <!-- Input del nombre -->
    <mat-form-field class="w-full mb-4">
      <mat-label>Nombre del Proveedor</mat-label>
      <input
        [(ngModel)]="proveedor.nombreProveedor"
        type="text"
        matInput
        formControlName="nombreProveedor"
      />
      <mat-hint *ngIf="nombreNoValido" class="text-red-600"
        >El campo requiere de 3 letras como mínimo
        <i
          class="fa-solid fa-triangle-exclamation fa-xl"
          style="color: #ff0000"
        ></i
      ></mat-hint>
    </mat-form-field>

    <!-- Input del tipo de producto -->
    <mat-form-field class="w-full mb-4">
      <mat-label>Tipo del Producto</mat-label>
      <input
        [(ngModel)]="proveedor.tipoDeProducto"
        type="text"
        matInput
        formControlName="tipoDeProducto"
      />
      <mat-hint *ngIf="tipoDeProductoNoValido" class="text-red-600"
        >El campo requiere de 3 letras como mínimo
        <i
          class="fa-solid fa-triangle-exclamation fa-xl"
          style="color: #ff0000"
        ></i
      ></mat-hint>
    </mat-form-field>

    <!-- Input para cargar la imagen -->
    <div class="flex w-full mb-5">
      <input
        type="file"
        class="hidden"
        (change)="onFileSelected($event)"
        #fileUpload
      />

      <div class="file-upload mr-2">
        {{ fileName || messageNoneFile }}

        <!-- TODO componer la posicion de los iconos -->
        <button
          *ngIf="!proveedor.logo"
          mat-raised-button
          type="button"
          color="primary"
          class="upload-btn text-center"
          (click)="fileUpload.click()"
        >
          <i class="fa-solid fa-paperclip"></i>
        </button>

        <button
          *ngIf="proveedor.logo"
          mat-raised-button
          type="button"
          color="warn"
          class="upload-btn text-center"
          (click)="[deleteResourceOnUnload(), (proveedor.logo = '')]"
        >
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>

      <img
        *ngIf="proveedor.logo"
        [src]="ip + proveedor.logo"
        alt="ProveedorImagen
        "
      />
    </div>

    <!-- Input del estado -->
    <div>
      <p>Estado del Proveedor</p>
      <br />
      <button
        *ngIf="proveedor.estado"
        (click)="proveedor.estado = false"
        type="button"
        mat-raised-button
        class="bg-green-500 w-[50%]"
      >
        <i class="fa-regular fa-thumbs-up"></i> Activo
      </button>

      <button
        *ngIf="!proveedor.estado"
        (click)="proveedor.estado = true"
        type="button"
        mat-raised-button
        class="bg-red-500 w-[50%]"
      >
        <i class="fa-regular fa-thumbs-down"></i> Inactivo
      </button>

      <hr class="my-4" />

      <!-- Botón para guardar el formulario -->
      <button mat-raised-button color="accent" type="submit" class="w-full">
        <i class="fa-solid fa-floppy-disk"></i> Guardar
      </button>
    </div>
  </div>
</form>
